$primary: dodgerblue;
$secondary: white;
$third: #FFFFFF;

ul {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 175px;
}

li {
    display: inline;
}

a {
    border-radius: 25px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    transition-duration: 400ms;
}

a.active {
    background-color: black;
    color: white;
}

a#name {
    background-color: $primary;
    color: white;
    font-size: 50px;
    font-family: 'Squada One', cursive;
}

a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
}

img {
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 25px;
}

@media only screen and (max-width: 850px) {
    div.navbar a {
      border-radius: 0px;
      margin: 15px 0px 15px 0px;
      text-align: center;
      width: 100%;
      display: block;
    }

    ul {
        margin-bottom: 50px;
    }
  }

  @media only screen and (max-width: 1070px) {
      img {
          display: none;
      }
  }
