div.navbar {
    display: inline-block;
    background-color: black;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

div.navbar h1#name {
    font-weight: 100;
    color: snow;
    width: 80%;
    font-size: 60px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Squada One', sans-serif;
    text-align: center;
}


div.navbar img#cole {
    box-shadow: 4px 5px 4px 4px black;
    width: 66%;
    border-radius: 25%;
    margin: 20px 17% 20px 17%;
}

a {
    text-decoration: none;
}

a:visited {
    color: snow;
    text-decoration: none;
}

a.navbar-link {
    width: 70%;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    background-color: transparent;
    color: snow;
    text-align: center;
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    transition-duration: 300ms;
    padding: 10px;
}

a.navbar-link.active {
    background-color: dodgerblue;
}

a.navbar-link:hover {
    background-color: dodgerblue;
}