div.project-card {
 
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
    border-radius: 12px;
    padding: 10px;
    
}

div.top {
    padding-bottom: 30px;
}

hr {
    height: 3px;
    color: white;
    background-color: white;
    border: 0;
    width: 100%;
}

header.title {
    width: 75%;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: inline;
}

header.section {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px 0;
    text-align: center;
}

a.code {
    margin: 0;
    width: 15%;
    display: inline;
    float: right;
    text-align: center;
}

a.black:hover {
    background-color: dodgerblue;
}

p.description {
    margin-top: 0;
    font-size: 26px;
    background-color: transparent;
}

p.tech {
    width: 100%;
    margin: 0;
    padding: 5px 0px;
    font-size: 26px;
    text-align: center;
    background-color: transparent;
}

// move GitHub links to new line on small screens
@media only screen and (max-width: 600px) {
    a.code {
        margin-top: 20px;
        width: 70%;
        display: block;
        float: none;
    }

    p.description {
        font-size: 20px;
    }

    p.tech {
        font-size: 20px;
    }
}

